<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>924347597165-839e83od6bvpvm7j46f1ltqtl38993ug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924347597165-839e83od6bvpvm7j46f1ltqtl38993ug</string>
	<key>API_KEY</key>
	<string>AIzaSyAlMlUPyQDlR7LQKCF-EofIxpWS8lR12dA</string>
	<key>GCM_SENDER_ID</key>
	<string>924347597165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.gvmarket</string>
	<key>PROJECT_ID</key>
	<string>market-df395</string>
	<key>STORAGE_BUCKET</key>
	<string>market-df395.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924347597165:ios:02b26367da48a028</string>
	<key>DATABASE_URL</key>
	<string>https://market-df395.firebaseio.com</string>
</dict>
</plist>